img {
    width: 30%;
}
body {
    margin-left: auto;
    margin-right: auto;
    padding: 20px 50px;
    color: #3f475a;
    font-family: "Helvetica Neue", Helvetica, "Segoe UI", Arial, freesans, sans-serif;
    font-size: 15px;
    font-weight: 300;
    line-height: 1.6;
    word-wrap: break-word;
    background: #fefefe;
    letter-spacing: 0.02em;
}

::selection {
    background-color: rgba(104,112,145, 0.2)
}

h1, h2, h3, h4, h5, h6 {
    color: #257FAD;
    font-weight: 400;
}

h1 {
    font-size: 1.3em;
    font-weight: 500;
}

h2 {
    font-size: 1.1em;
    font-weight: 400;
}

h3 {
    font-size: 1.0em;
    font-weight: 200;
}

h4,h5,h6 {
    font-size: 1em;
}

hr {
    border-color: rgba(104,112,145, 0.24) !important;
    border-style: dotted;
}
a {
    color: #519548;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

code {
    color: #918B3B;
}

em, strong {
    color: #D22D72;
}

blockquote {
    background: #F7F7F7;
    border-left: 2px solid #d33682;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}

blockquote p {
    color: #000;
    display: inline;
}

table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: keep-all;
    border-collapse: collapse;
}

table th {
    font-weight: bold;
}

table th,
table td {
    padding: 6px 13px;
    border: 1px solid #ddd;
}

table tr {
    background-color: #fff;
    border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
    background-color: #f8f8f8;
}
