---
---

$body-background-color: #3a3a3a;
$body-color-secondary: #4d4d4d;

$content-color: #dcdcdc;
$content-background-color: #4d4d4d;

$nav-background-color: #262626;
$nav-color-secondary: #4d4d4d;
$nav-width: 300px;

$mobile-nav-height: 60px;
$mobile-nav-padding: 10px;

$brand-color: #ffd200;

$space: 20px;
$border-radius: 5px;

@import "mixins";
@import "normalize";
@import "pygments";
@import "salvattore";
@import "style";
@import "set";

body, html {
	//background: #000 url(/img/background-repeat.png);
	padding: 0;
	border-top: 0;
	overflow: hidden;
}

header {
	display: none;
	position: absolute;
	left: 0;
	top: $mobile-nav-height;
	bottom: 0;
	right: 0;
	padding: 0 $space;
	text-align: right;
	background-color: $nav-background-color;
	overflow-y: auto;
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
	z-index: 1;

	> img {
		display: none;
		width: 200px;
		margin: ($space / 2) ($space / -2);
	}

	ul {
		padding: 0;
	}
}

a {
	color: blue;
}

.nav-open header {
	display: block;
}

.mobile-nav {
	padding: $mobile-nav-padding;
	height: $mobile-nav-height;
	background-color: $nav-background-color;

	> img {
		height: 100%;
		padding: 5px;
		display: block;
		margin: 0 auto;
	}

	.open-nav {
		//background-image: url(/img/icons/menu.svg);
		background-color: transparent;
		background-repeat: no-repeat;
		background-size: 100%;
		width: $mobile-nav-height - ($mobile-nav-padding * 2);
		height: $mobile-nav-height - ($mobile-nav-padding * 2);
		border: 0;
		opacity: 0.6;
		position: absolute;
		top: $mobile-nav-padding;
		right: $mobile-nav-padding;

		&:focus {
			outline: none;
		}

		&:focus,
		&:hover {
			opacity: 0.9;
		}
	}
}

.main {
	overflow: auto;
	-webkit-overflow-scrolling: touch;
	position: absolute;
	left: 0;
	right: 0;
	top: $mobile-nav-height;
	bottom: 0;
	//background: $body-background-color url(/img/background-repeat.png);

	h1 {
		text-align: center;
		text-shadow: none;
		margin: $space $space ($space * 1.5) $space;
		font-size: 3rem;
	}
}

.maintained {
	font-size: .6em;

	img {
		width: 60px;
		vertical-align: middle;
	}
}

.content-box {
	padding: ($space / 2) $space $space $space;
	margin: 0 auto;
	max-width: 900px;
	position: relative;

	.fullscreen & {
		margin: 0;
		max-width: none;
	}
}

.content {
	background-color: transparent;
	padding: 0;
	box-shadow: none;
	color: $content-color;
	padding: $space $space 0.01em $space;
	margin: 0;
	border-radius: $border-radius;
}

.nav-item {
	display: block;
	text-transform: uppercase;
	padding: 7px 0;
	font-size: 0.8rem;

	> ul {
		display: none;
	}

	&.current {
		> a {
			color: $nav-color-secondary;
			text-shadow: none;
		}

		> ul {
			display: block;
		}
	}

	&.top-level {
		padding: 0 0 25px 0;

		> ul {
			margin-top: 7px;
		}

		> a {
			font-weight: bold;
			font-size: 1.3rem;
		}
	}
}


// TODO rename this back and remove competing styles
.asection-nav {
	position: absolute;
	top: 30px;
	left: $space * 1.5;
	right: $space * 1.5;

	.prev,
	.next {
		background-size: 60px;
		background-repeat: no-repeat;
		width: 60px;
		height: 60px;
		display: inline-block;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}

		&.disabled {
			display: none;
		}
	}

	.prev {
		float: left;
		//background-image: url(/img/icons/arrow-back.svg);
	}

	.next {
		float: right;
		//background-image: url(/img/icons/arrow-forward.svg);
	}
}

.section-heading {
	margin-bottom: 15px;

	+ p {
		margin-top: 0;
	}
}

article img {
	max-width: 100%;
	height: auto;
	display: block;
	margin: 0 auto;
}

.contains-screenshots img {
	border-radius: 2px;
}

pre, code {
	font-size: 16px;
	font-family: Inconsolata, Menlo, Consolas, "Courier New", Courier, "Liberation Mono", monospace;
	line-height: 1.4;
	font-weight: 400;
	white-space: pre-wrap;
}

.highlight, p > pre, p > code, p > nobr > code, li > code, h5 > code, .note > code {
	-webkit-box-shadow: none;
	box-shadow: none;
}

.highlight {
	padding: 10px 0 5px 0;

	code {
		line-height: 1.4;
	}
}

p > code {
	position: relative;
	top: -2px;
}


@media (min-width: 700px) {
	.mobile-nav {
		display: none;
	}

	body {
		padding: 0 0 0 $nav-width;

		&::after {
			content: ' ';
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			border-top: 5px solid #FC0;
			z-index:1;
		}
	}

	header {
		display: block;
		width: $nav-width;
		top: 0;
		padding: $space ($space * 2);

		> img {
			display: inline;
		}
	}

	.main {
		top: 0;
		left: $nav-width;
	}
}

.cast {
	background: #4d4d4d;
	padding: 10px;
	border-radius: 5px;
	margin: 30px 0;

	.details {
		margin: 0 0 0 320px;
	}

	h2 {
		margin: 0;
		padding: 0;
	}

	.meta {
		font-size: .7em;
	}


	.description {
		margin: 5px 0 0 0;
		font-size: .95em;
	}

	.image {
		width: 300px;
		float: left;
		margin: 0 20px 0 0;
	}

	&:after {
		content: "";
		display: table;
		clear: both;
	}
}

.meta {
	padding: 0;
	font-size: .9em;
}

.videoWrapper {
	position: relative;
	padding-bottom: 59.5%;
	padding-top: 25px;
	height: 0;

	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}

.twitter-button {
	float: right;
	position: relative;
	top: 5px;
}

.jekyll-plugin {
	background: #4d4d4d;
	padding: 20px;
	border-radius: 5px;
	margin: 30px 0;

	h2 {
		margin: 0 0 15px 0;
	}

	p {
		margin: 0;
	}
}

.cast-list {
	h2 {
		text-transform: capitalize;
		clear: both;
	}

	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}

	a {
		background: #4d4d4d;
		padding: 0;
		margin: 0;
		border-radius: 5px;
		display: flex;
		flex-direction: row;
		flex-wrap: no-wrap;

		p {
			color: white;
		}

		img {
			transition: 0.25s -webkit-filter, 0.25s filter;
			max-width: none;
			height: inherit;
			margin: 0;
			width: 250px;
			height: 125px;
			min-width: 250px;
			min-height: 125px;
			float:left;
		}
	}

	a:hover {
		background: #333;

		img {
			-webkit-filter: grayscale(0%);
	    filter: grayscale(0%);
		}
	}

	img {
		display: inline-block;
		border-top-left-radius: 5px;
		border-bottom-left-radius: 5px;
		-webkit-filter: grayscale(80%);
    filter: grayscale(80%);
	}

	.cast-content {
		max-width: 550px;
		margin-left: 16px;
		margin-right: 16px;
		box-sizing: border-box;

		h3 {
			margin: 10px 0 0 0;
		}
	}
}

.columns:after {
	content: "";
	display: table;
	clear: both;
}

.column {
	width: 50%;
	float: left;
}
