---
layout: notes_main
title: Chandan's Reference Sheets
heading: Chandan's Reference Sheets
permalink: /notes/
no_max_width: true
---

<div id="grid" data-columns>
    {% for collection in site.collections %}
    <ul>
        <section class="category">
            <h2>{{ collection.name }}</h2>
            {% assign categories = "" | split:"|"	%}
            {% for doc in collection.docs %}
            {% if doc.category %}
            {% unless categories contains doc.category %}
            {% assign categories = categories | push: doc.category %}
            {% endunless %}
            {% endif %}
            {% endfor %}
            {% assign categories_size = categories | size %}
            {% if categories_size == 0 %}
            {% assign categories = categories | push: nil %}
            {% endif %}

            {% for category in categories %}
            {% if category %}
            <h3>{{ category }}</h3>
            {% endif %}

            {% assign category_docs = collection.docs | where: "category", category	%}
            <ul class="list-items">
                {% for item in category_docs %}
                {% if item.title %}
                <li {% if item.version %} data-version="{{ item.version}}"{% endif %}>{% include render_item.html item=item %}</li>
                {% endif %}
                {% endfor %}
            </ul>
            {% endfor %}
        </section>
    </ul>
    {% endfor %}
</div>
