---
layout: default
title: notes_main
section-type: notes
---

<h2 align="center"> blog + resources </h2>

<!--<h2 align="center"> more </h2>-->


<div class="coll2">
    <h3 align="center">personal research blog</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/blog/interpretability" style="font-size:16px"> 2019 - what is interpretability? </a></li>
        <li><a href="{{ site.baseurl }}/blog/connectomics" style="font-size:16px"> 2019 - connectomics </a></li>
        <li><a href="{{ site.baseurl }}/blog/neural_coding" style="font-size:16px"> 2018 - neural coding </a></li>
    </ul>
</div>

<div class="coll2">
    <h3 align="center">misc blog</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/blog/reveal_md_enhanced/readme" style="font-size:16px"> 2019 - beautiful slides with reveal-md </a></li>
        <li><a href="{{ site.baseurl }}/blog/latex_useful_tips/readme" style="font-size:16px"> 2019 - latex useful tips </a></li>
        <li><a href="{{ site.baseurl }}/blog/imagenet_quickstart/readme" style="font-size:16px"> 2018 - imagenet quickstart </a></li>
        <li><a href="{{ site.baseurl }}/blog/pytorch_dangerous_mistake/readme" style="font-size:16px"> 2018 - pytorch dangerous mistake </a></li>
    </ul>
</div>



<center>
    <!--<p>-->
    <!--<hr>-->
    <!--</br></br>-->
    <i align="left">Resources including slides and research overviews in machine learning.</i>
    </br></br>
    <!--</p>-->
</center>


        <div class="coll4">
            <h3 align="center">ovw slides</h3>
            <ul class="list-items">
                <li><a href="{{ site.baseurl }}/pres/189/" style="font-size:16px"> ml ovw </a></li>
                <li><a href="{{ site.baseurl }}/pres/188/" style="font-size:16px"> ai ovw </a></li>
                <li><a href="https://docs.google.com/presentation/d/19fTICv0pyRiwGE39mqE_eGTq0Arn3OtVnDSrURFbPMA/present" style="font-size:16px"> research ovw </a></li>
                <li><a href="https://docs.google.com/presentation/d/1d2prZlhmG72whCTzfGJ_pk-Pgv9Sx-bGG0e503whYvw/present?slide=id.p" style="font-size:16px"> vissci ovw </a></li>
                <li><a href="{{ site.baseurl }}/pres/dnn_experiments/" style="font-size:16px"> dnn experiments </a></li>
                <li><a href="https://docs.google.com/presentation/d/1RIdbV279r20marRrN0b1bu2z9STkrivsMDa_Dauk8kE/present" style="font-size:16px"> interpretability workshop </a></li>
                <!--<li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present?slide=id.p" style="font-size:16px"> hummingbird </a></li>-->
            </ul>
        </div>

        <div class="coll4">
            <h3 align="center">research ovws</h3>

            <!-- a lot of lines which really just get the posts with tag research -->
            {% for collection in site.collections %}
            {% assign categories = "" | split:"|" %}
            {% for doc in collection.docs %}
            {% if doc.category %}
            {% unless categories contains doc.category %}
            {% assign categories = categories | push: doc.category %}
            {% endunless %}
            {% endif %}
            {% endfor %}
            {% assign categories_size = categories | size %}
            {% if categories_size == 0 %}
            {% assign categories = categories | push: nil %}
            {% endif %}
            {% for category in categories %}
            {% if category == "research" %}
            {% assign category_docs = collection.docs | where: "category", category %}


            <ul class="list-items">
            {% for item in category_docs %}
                {% if item.title %}
                    <li><a href="{{ site.baseurl }}{{item.url}}" style="font-size:16px"> {{ item.title | downcase }} </a></li>
                {% endif %}
            {% endfor %}
            </ul>
            {% endif %}
            {% endfor %}
            {% endfor %}
         </div>

        <div class="coll4">
            <h3 align="center">ml mini-projects</h3>
            <ul class="list-items">
                <!--<li><a href="{{ site.baseurl }}/prototype_learning/" style="font-size:16px"> prototype learning </a></li>-->
                <li><a href="https://github.com/csinva/dl_theory" style="font-size:16px"> probing deep learning </a></li>
                <li><a href="https://github.com/csinva/scattering_transform_experiments" style="font-size:16px"> scattering transform </a></li>
                <li><a href="https://github.com/csinva/calcium_decoding_gan" style="font-size:16px"> gan brain decoding </a></li>
                <li><a href="https://github.com/csinva/glaucoma_diagnosis" style="font-size:16px"> glaucoma diagnosis </a></li>
                <li><a href="{{ site.baseurl }}/pytorch_gan_pretrained/" style="font-size:16px"> pretrained pytorch gans </a></li>
            </ul>
        </div>

         <div class="coll4">
            <h3 align="center">misc</h3>
            <ul class="list-items">
                <li><a href="https://github.com/csinva/news-balancer" style="font-size:16px"> news balancer web </a></li>
                <li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present" style="font-size:16px"> hummingbird tracking </a></li>
                <li><a href="https://github.com/csinva/threshold_simulations/" style="font-size:16px"> biophysical threshold simulation </a></li>
            </ul>
        </div>



        <!--<div class="roww"> &lt;!&ndash;begin the 1st row&ndash;&gt;-->


<!--</div>-->

<div class="roww">
<!--<br>-->
<!--A rough set of notes/posts which may serve as useful reference for people in machine learning / neuroscience.-->
</div>

<div class="roww">
<center>
    <!--<p>-->
    <!--<hr>-->
    <!--</br></br>-->
    <i align="left">A rough set of notes/posts which may serve as useful reference for people in machine learning / neuroscience.</i>
    </br></br>
    <!--</p>-->
</center>
</div>

<div class="roww"> <!--begin the 1st row-->
{% for collection in site.collections %}

    {% assign categories = "" | split:"|" %}
    {% for doc in collection.docs %}
    {% if doc.category %}
    {% unless categories contains doc.category %}
    {% assign categories = categories | push: doc.category %}
    {% endunless %}
    {% endif %}
    {% endfor %}
    {% assign categories_size = categories | size %}
    {% if categories_size == 0 %}
    {% assign categories = categories | push: nil %}
    {% endif %}

    {% for category in categories %}

        {% if category %}
        {% if category != "blog" %}
        {% if category != "research" %}


            <div class="coll">
                <h3 align="center">{{ category | downcase }}</h3>

                {% assign category_docs = collection.docs | where: "category", category %}
                <ul class="list-items">
                {% for item in category_docs %}
                    {% if item.title %}
                        <li><a href="{{ site.baseurl }}{{item.url}}" style="font-size:16px"> {{ item.title | downcase }} </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
             </div>

        {% endif %}
        {% endif %}
        {% endif %}

        {% if category == "math" %}
            </div> <!--end the 1st row-->
            <div class="roww"> <!--begin the 2nd row-->
        {% endif %}

    {% endfor %}
{% endfor %}


<!--</div> &lt;!&ndash;end the 2nd row&ndash;&gt;-->

<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}

.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}

.coll4 {
    float: left;
    width: 24.9%;
    padding-bottom: 50px;
}

.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}


/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>
