<!-- Intro Header -->
<header class="intro">
    <div class="intro-body">
        <div class="container">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <h1 class="brand-heading">&nbsp;</h1>
                    <div class="coll2">
                        <img src="{{ site.url }}/assets/img/cartoon_propic.gif" style="border-radius: 50%" width="70%">

                        <br/>
                        <!--                    <p class="intro-text">if you want to chat about research ideas or how to use data-science for good, drop me an e-mail!</p>-->
                        <a href="#research" class="btn btn-circle page-scroll">
                            <i class="fa fa-angle-double-down animated"></i>
                        </a>
                    </div>
                    <div class="coll2">
                        <p class="intro-text" style="margin-bottom: 20px;">
                            seeking good explanations with machine learning in
                            neuroscience & medicine
                        </p>
                        <ul class="list-inline social-buttons">
                            <li><a href="https://scholar.google.com/citations?user=XpttKK8AAAAJ&hl=en&oi=sra"><i
                                    class="fa fa-graduation-cap fa-fw"></i></a></li>
                            <li><a href="mailto:chandan_singh@berkeley.edu"><i class="fa fa-envelope fa-fw"></i></a>
                            </li>
                            <li><a href="{{ site.url }}/assets/cv_chandan.pdf">cv</a></li>
                            <li><a href="https://github.com/csinva"><i class="fa fa-github fa-fw"></i></a></li>
                            <li><a href="https://www.linkedin.com/in/csinva/"><i
                                    class="fa fa-linkedin fa-fw"></i></a></li>
                            <li><a href="https://twitter.com/csinva_"><i class="fa fa-twitter fa-fw"></i></a>
                            </li>
                        </ul>
                        <br>
                        <p  class="intro-text">
                            senior researcher at microsoft research (<a
                                href="https://www.microsoft.com/en-us/research/group/deep-learning-group/">deep
                            learning
                            group</a>); phd from berkeley (with prof. <a
                                href="https://binyu.stat.berkeley.edu/">
                            bin yu</a>)
                        </p>

                    </div>

                </div>
            </div>
        </div>
    </div>
</header>