<h2 align="center" style="margin-top: -150px;"> resources + posts </h2>

<!--{% comment %}-->
<!--{% include 02__carousel.html %}-->
<!--{% endcomment %}-->

{% include 02__gallery.html %}

</br>
</br>
<!--<div class="colfull">-->
<!--    <p align="text-center">-->
<!--        <i align="left">Some posts/slides organizing ml and ai research.</i>-->
<!--    </p>-->
<!--</div>-->

<div class="coll3">
    <h3 align="center">paper overviews</h3>

    <ul class="list-items">
        {% for collection in site.collections %}
        {% for doc in collection.docs %}
        {% if doc.category == "research" %}
        <!-- bold if title is transformers or interpretability-->
        {% if doc.title == "llms" or doc.title == "interpretability" %}
        <li><a href="{{ site.baseurl }}{{doc.url}}" style="font-size:medium; font-weight: bolder;"> {{ doc.title |
                downcase }} ⭐ </a></li>
        {% else %}
        <li><a href="{{ site.baseurl }}{{doc.url}}" style="font-size:medium"> {{ doc.title | downcase }} </a></li>
        {% endif %}
        {% endif %}
        {% endfor %}
        {% endfor %}
    </ul>
</div>

<div class="coll3">
    <h3 align="center">research posts</h3>
    <ul class="list-items">
        <li>
            <a href="{{ site.baseurl }}/blog/misc/24_tensor_product_repr" style="font-size:medium"> tensor product
                representations
            </a> '24
        </li>
        <li>
            <a href="{{ site.baseurl }}/blog/research/23_data_explanation" style="font-size:medium"> explaining text
                data
                with LLMs
            </a> '23
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/23_paper_writing_tips" style="font-size:medium"> paper-writing tips
            </a> '23
        </li>
        <li><a href="https://csinva.github.io/gpt-paper-title-generator" style="font-size:medium"> forecasting paper
                titles </a> '22
        </li>
        <li><a href="https://bair.berkeley.edu/blog/2022/06/30/figs/" style="font-size:medium"> figs </a>(bairblog) '22
        <li><a href="https://bair.berkeley.edu/blog/2022/02/02/imodels/" style="font-size:medium; font-weight: bolder;">
                imodels
            </a>(bairblog)
            '22 ⭐
        <li><a href="https://bair.berkeley.edu/blog/2021/09/28/wavelet/" style="font-size:medium"> adaptive wavelet
                distillation </a>(bairblog) '21
        <li><a href="{{ site.baseurl }}/blog/misc/20_ml_coding_tips" style="font-size:medium"> ml coding tips </a>'20
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/20_attributions" style="font-size:medium"> quick intro to attribution
                methods </a>'20
        </li>
        <li><a href="{{ site.baseurl }}/blog/research/19_interp" style="font-size:medium"> what is interpretability?
            </a>'19
        </li>
        <li><a href="{{ site.baseurl }}/blog/research/19_interp_eval" style="font-size:medium"> evaluating
                interpretability </a>'19
        </li>
        <li><a href="{{ site.baseurl }}/blog/research/19_connectomics" style="font-size:medium"> connectomics </a>'19
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/19_model_improvement" style="font-size:medium"> model improvement
                checklist </a>'19
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/19_reveal_md_enhanced/readme" style="font-size:medium"> beautiful
                slides
                with reveal-md </a>'19
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/19_latex_useful_tips" style="font-size:medium"> latex useful tips
            </a>'19
        </li>
        <li><a href="{{ site.baseurl }}/blog/research/18_neural_coding" style="font-size:medium"> neural coding </a>'18
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/18_imagenet_quickstart/readme" style="font-size:medium"> imagenet
                quickstart </a>'18
        </li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">slides</h3>
    <ul class="list-items">
        <!-- <li><a href="https://docs.google.com/presentation/d/1g0EPeyemIM7FW1mv8CA97fE5E7kIZJmbQbYMHuNXLWs/" -->
        <!-- style="font-size:medium"> converting fMRI models into verbal theories </a> '24 -->
        <!-- </li> -->
        <li><a href="https://docs.google.com/presentation/d/1bFZZ8-OwwNxN3DjPdyPFKuP16yyYTP9DlaTzKOaYVWI/"
                style="font-size:medium; font-weight: bolder;"> building data-driven verbal theories in
                language neuroscience </a> '24 ⭐</li>
        <li><a href="https://docs.google.com/presentation/d/1m6nnDgSUYhzfkJBXrf7EMdvP3nonYYTAofptKKI6dLg/"
                style="font-size:medium; font-weight: bolder;"> explanations from text data </a> '23 ⭐</li>
        <li><a href="{{ site.baseurl }}/pres/189/" style="font-size:medium; font-weight: bolder;"> intro ml
            </a>(<a href="https://github.com/csinva/csinva.github.io/blob/master/pres/189/_slides_ml.md"><i
                    class="fa fa-github fa-fw"></i></a>) uc berkeley cs 189 ⭐
        </li>
        <li><a href="https://docs.google.com/presentation/d/1I9OWLhrmBiBjoe6CJtxdI6qlIuvL26GZRjeO_ir3i_Y/"
                style="font-size:medium"> uniting trees and LLMs </a> '23</li>
        <li><a href="https://docs.google.com/presentation/d/1MdxOH7-rurTYOHT18dX6ViGGpG0MhFTVW9qTjG4JZbc/"
                style="font-size:medium"> phd research ovw (animated) </a> '22</li>
        <li><a href="{{ site.baseurl }}/pres/188/" style="font-size:medium"> intro ai </a>(<a
                href="https://github.com/csinva/csinva.github.io/blob/master/pres/188/_slides_ai.md"><i
                    class="fa fa-github fa-fw"></i></a>) uc berkeley cs 188
        </li>
        <li><a href="https://docs.google.com/presentation/d/1KTpaLiqS3X-V6paTJer00F7ibi-lYUi9yByN_vti9Tw/"
                style="font-size:medium"> deep learning interpretation ovw </a> '20</li>
        <li><a href="https://docs.google.com/presentation/d/1v7BSl27v9Q89O1qk1ToKZb4_PHCIsV18wCwfcE-XpsQ/"
                style="font-size:medium"> interpretability workshop </a> (<a href="https://github.com/csinva/imodels"><i
                    class="fa fa-github fa-fw"></i></a>, <a href="https://csinva.github.io/imodels/"> <i
                    class="fa">🌐</i></a>) '19
        </li>
        <li><a href="{{ site.baseurl }}/pres/dnn_experiments/" style="font-size:medium"> dnn experiments </a> (<a
                href="https://github.com/csinva/dl_theory"><i class="fa fa-github fa-fw"></i></a>) '19
        </li>
        <!-- <li> -->
        <!-- <a href="https://docs.google.com/presentation/d/1d2prZlhmG72whCTzfGJ_pk-Pgv9Sx-bGG0e503whYvw/" -->
        <!-- style="font-size:medium"> vissci ovw </a> '18 -->
        <!-- </li> -->
        <!--<li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present?slide=id.p" style="font-size:medium"> hummingbird </a></li>-->
    </ul>
</div>

<div class="colfull">
    <p align="text-center">
        <i align="left">Notes in machine learning / neuroscience.
            <!--            Here's a <a href="https://csinva.io/blog/compiled_notes/_build/html//intro.html">jupyter-book-->
            <!--                version</a>.-->
        </i>
    </p>
</div>
<div class="roww"> <!--begin the 1st row-->
    {% for collection in site.collections %}

    <!--create categories-->
    {% assign categories = "" | split:"|" %}
    {% for doc in collection.docs %}
    {% if doc.category %}
    {% unless categories contains doc.category %}
    {% assign categories = categories | push: doc.category %}
    {% endunless %}
    {% endif %}
    {% endfor %}

    {% for category in categories %}

    {% if category != "blog" and category != "research"%}
    <div class="coll">
        <h3 align="center">{{ category | downcase }}</h3>

        {% assign category_docs = collection.docs | where: "category", category %}
        <ul class="list-items">
            {% for item in category_docs %}
            {% if item.title %}
            <li><a href="{{ site.baseurl }}{{item.url}}" style="font-size:medium"> {{ item.title | downcase }} </a></li>
            {% endif %}
            {% endfor %}
        </ul>
    </div>

    {% endif %}

    {% if category == "math" %}
</div> <!--end the 1st row-->
<div class="roww"> <!--begin the 2nd row-->
    {% endif %}

    {% endfor %}
    {% endfor %}
</div>


<div class="colfull">
    <p align="text-center">
        <i align="left">Mini personal projects. There's also some <a href="{{ site.baseurl }}/notes/misc/dumb_stuff"
                onclick="return confirm('Are you sure you want to see some dumb stuff?')">dumb
                stuff here.</a>
        </i>
    </p>
</div>
<div class="coll6">

</div>
<div class="coll3">
    <h3 align="center">ml projects</h3>
    <ul class="list-items">
        <li><a href="https://github.com/csinva/pytorch_gan_pretrained/" style="font-size:medium"> pretrained pytorch
                gans </a></li>
        <li><a href="https://github.com/Pacmed/sensible-local-interpretations" style="font-size:medium"> sensible local
                interpretations </a></li>
        <li><a href="https://csinva.io/data-viz-utils/" style="font-size:medium"> data-viz utils</a></li>
        <li><a href="https://github.com/csinva/calcium_decoding_gan" style="font-size:medium"> gan brain decoding </a>
        </li>
        <li>
            <a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present?slide=id.p"
                style="font-size:medium"> hummingbird tracking </a> (<a
                href="https://github.com/csinva/hummingbird-tracking"><i class="fa fa-github fa-fw"></i></a>)
        </li>
        <li><a href="https://github.com/csinva/scattering_transform_experiments" style="font-size:medium"> scattering
                transform </a></li>
        <li><a href="https://github.com/csinva/glaucoma_diagnosis" style="font-size:medium"> glaucoma diagnosis </a>
        </li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">misc</h3>
    <ul class="list-items">
        <li><a href="https://github.com/csinva/mini-games-java" style="font-size:medium"> mini-games in java </a></li>
        <li><a href="http://csinva.io/news-title-bias/app/" style="font-size:medium"> news bias comparisons </a></li>
        <li><a href="https://github.com/csinva/acronym-generator" style="font-size:medium"> generating paper
                acronyms </a> (<a href="https://csinva.io/acronym-generator/"> <i class="fa">🌐</i></a>)
        </li>
        <li><a href="{{ site.baseurl }}/blog/misc/21_city_maps/readme" style="font-size:medium"> visualizing large
                cities
            </a>
        </li>
        <li><a href=" https://github.com/csinva/news-balancer" style="font-size:medium"> news balancer web </a></li>
        <!--                <li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present" style="font-size:medium"> hummingbird tracking </a></li>-->
        <li><a href="https://github.com/csinva/threshold_simulations/" style="font-size:medium"> biophysical
                simulations </a></li>
        <!--                <li><a href="https://github.com/csinva/interpretability-workshop" style="font-size:medium"> interpretability code </a></li>-->
        <li><a href="https://github.com/DavidMChan/lunchwheel" style="font-size:medium"> lunch wheel </a></li>
        <li><a href="{{ site.baseurl }}/blog/sports_analysis.html" style="font-size:medium"> sports rankings with
                plotly </a></li>
    </ul>
</div>
<div class="coll6">

</div>

<style>
    .colfull {
        float: left;
        width: 100%;
        padding-bottom: 5px;
        text-align: center;
    }

    .coll {
        float: left;
        width: 33.33%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll2 {
        float: left;
        width: 49.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll3 {
        float: left;
        width: 32.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll4 {
        float: left;
        width: 24.9%;
        padding-bottom: 50px;
        text-align: center;
    }

    .coll5 {
        float: left;
        width: 19.99%;
        padding-bottom: 50px;
    }

    .coll6 {
        float: left;
        width: 16.66%;
        padding-bottom: 50px;
    }

    .coll9 {
        float: left;
        width: 11.11%;
        padding-bottom: 50px;
    }

    .coll10 {
        float: left;
        width: 10%;
        padding-bottom: 50px;
    }


    /* Clear floats after the columns */
    .roww:after {
        content: "";
        display: table;
        clear: both;
    }

    .list-items {
        display: inline-block;
        text-align: left;
    }
</style>