<h2 style="text-align: center;"> experience </h2>

<ul class="timeline">
    <li>
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/berkeley.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Fall 17 - Present</h4>
              <h4 class="subheading">berkeley <a href="https://www.stat.berkeley.edu/~binyu/Site/Welcome.html">(bin yu lab)</a></h4>
          </div>
          <div class="timeline-body">
              <p>phd research in interpretable ml</p>
          </div>
      </div>
    </li>

    <!--invert every other item-->
    <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/rekognition.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Summer 20</h4>
              <h4 class="subheading">amazon research <a href="https://scholar.google.com/citations?user=j29kMCwAAAAJ&hl=en">(pietro perona lab)</a></h4>
          </div>
          <div class="timeline-body">
              <p>research intern in fair + interpretable computer vision</p>
          </div>
      </div>
    </li>

    <li>
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/pacmed.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Summer 19</h4>
              <h4 class="subheading">pacmed ai <a href="https://pacmed.ai/en/">(healthcare interpretability)</a></h4>
          </div>
          <div class="timeline-body">
              <p>developed methods for interpreting medical machine-learning models</p>
          </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/fb.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Summer 17</h4>
              <h4 class="subheading">facebook ai <a href="https://code.facebook.com/ai-research/"> (computer vision) </a></h4>
          </div>
          <div class="timeline-body">
              <p>Worked on unsupervised pretraining of CNNs for semantic segmentation</p>
          </div>
      </div>
    </li>

    <li>
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uva.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Fall 16 - Spring 17</h4>
              <h4 class="subheading">uva <a href="https://www.cs.virginia.edu/yanjun/">(Yanjun Qi Lab)</a></h4>
          </div>
          <div class="timeline-body">
              <p>Contributed to development of novel weighted-L1, multi-task Gaussian graphical models</p>
          </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/connectome.jpg" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Summer 15, Winter 15, Summer 16</h4>
              <h4 class="subheading">hhmi <a href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwik_6XR8vXWAhULz2MKHfemCs4QFggmMAA&url=https%3A%2F%2Fwww.janelia.org%2Fpeople%2Fsrini-turaga&usg=AOvVaw2bz69zeov78HQO7KQKxKSK">(Srini Turaga Lab) </a></h4>
          </div>
          <div class="timeline-body">
              <p>Contributed to enhanced ML implementations for neural image segmentation</p>
          </div>
      </div>
    </li>

    <li>
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uva.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Fall 14 - Fall 16</h4>
              <h4 class="subheading">uva <a href="http://faculty.virginia.edu/levylab/">(William Levy Lab)</a></h4>
          </div>
          <div class="timeline-body">
              <p>Simulated stochastic neurons to determine mutual information, variability, energy efficiency, and threshold</p>
          </div>
      </div>
    </li>

    <li class="timeline-inverted">
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/neuron.jpg" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Summer 14</h4>
              <h4 class="subheading">hhmi <a href="https://www.janelia.org/support-team/scientific-computing-software"> (Scientific Computing) </a></h4>
          </div>
          <div class="timeline-body">
              <p>Simulated extracellular neural recordings via Neurocube Matlab scripts</p>
          </div>
      </div>
    </li>

    <li>
      <div class="timeline-image">
          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/rii.png" alt="">
      </div>
      <div class="timeline-panel">
          <div class="timeline-heading">
              <h4>Summer 13 - Spring 14</h4>
              <h4 class="subheading">RII <a href="http://www.researchinnovations.com/">(web/android dev)</a></h4>
          </div>
          <div class="timeline-body">
              <p>Developed web app for simultaneous task coordination + Android app to increase the data storage capacity of QR codes.</p>
          </div>
      </div>
    </li>


    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/default.jpg" alt="">
        </div>
    </li>
</ul>