<h2 style="text-align: center;margin-top: -150px;"> experience </h2>

<ul class="timeline">
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/msft.svg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Fall 22 - Present</p>
                <h4 class="subheading">msr <a href="https://www.microsoft.com/en-us/research/group/deep-learning-group/">(deep
                    learning lab)</a></h4>
            </div>
            <div class="timeline-body">
                <p>deep learning research</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/berkeley.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Fall 17 - spring 22</p>
                <h4 class="subheading">berkeley <a href="https://www.stat.berkeley.edu/~binyu/Site/Welcome.html">(bin yu
                    lab)</a></h4>
            </div>
            <div class="timeline-body">
                <p>phd research in interpretable ml</p>
            </div>
        </div>
    </li>

    <!--invert every other item-->
    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/paige.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 21 - Summer 22</p>
                <h4 class="subheading">paige ai <a
                        href="https://www.paige.ai/">(ai scientist)</a></h4>
            </div>
            <div class="timeline-body">
                <p>developed deep learning models for pathology</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/amzn.svg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 20</p>
                <h4 class="subheading">amazon research <a
                        href="https://scholar.google.com/citations?user=j29kMCwAAAAJ&hl=en">(pietro perona lab)</a></h4>
            </div>
            <div class="timeline-body">
                <p>developed methods for causal benchmarking of fairness in computer vision models</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/pacmed.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 19</p>
                <h4 class="subheading">pacmed ai <a href="https://pacmed.ai/en/">(healthcare interpretability)</a></h4>
            </div>
            <div class="timeline-body">
                <p>developed methods for interpreting medical machine-learning models</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/fb.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 17</p>
                <h4 class="subheading">meta ai <a href="https://ai.facebook.com/"> (computer
                    vision) </a></h4>
            </div>
            <div class="timeline-body">
                <p>Worked on unsupervised pretraining of CNNs for semantic segmentation</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uva.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Fall 16 - Spring 17</p>
                <h4 class="subheading">uva <a href="https://www.cs.virginia.edu/yanjun/">(Yanjun Qi Lab)</a></h4>
            </div>
            <div class="timeline-body">
                <p>Contributed to development of novel weighted-L1, multi-task Gaussian graphical models</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/connectome.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Summer 14, 15, 16</p>
                <h4 class="subheading">hhmi <a
                        href="https://www.google.com/url?sa=t&rct=j&q=&esrc=s&source=web&cd=1&ved=0ahUKEwik_6XR8vXWAhULz2MKHfemCs4QFggmMAA&url=https%3A%2F%2Fwww.janelia.org%2Fpeople%2Fsrini-turaga&usg=AOvVaw2bz69zeov78HQO7KQKxKSK">(Srini
                    Turaga Lab) </a></h4>
            </div>
            <div class="timeline-body">
                <p>Improved CNNs for neural-image segementation + explored dendritic backpropagation</p>
            </div>
        </div>
    </li>

    <li>
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uva.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <p>Fall 14 - Fall 16</p>
                <h4 class="subheading">uva <a href="http://faculty.virginia.edu/levylab/">(William Levy Lab)</a></h4>
            </div>
            <div class="timeline-body">
                <p>Simulated computational models of stochastic neurons</p>
            </div>
        </div>
    </li>

    <!--    <li class="timeline-inverted">-->
    <!--        <div class="timeline-image">-->
    <!--            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/neuron.jpg" alt="">-->
    <!--        </div>-->
    <!--        <div class="timeline-panel">-->
    <!--            <div class="timeline-heading">-->
    <!--                <h4>Summer 14</h4>-->
    <!--                <h4 class="subheading">hhmi <a-->
    <!--                        href="https://www.janelia.org/support-team/scientific-computing-software"> (Scientific-->
    <!--                    Computing) </a></h4>-->
    <!--            </div>-->
    <!--            <div class="timeline-body">-->
    <!--                <p>Simulated extracellular neural recordings via Neurocube Matlab scripts</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->

    <!--    <li>-->
    <!--        <div class="timeline-image">-->
    <!--            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/rii.png" alt="">-->
    <!--        </div>-->
    <!--        <div class="timeline-panel">-->
    <!--            <div class="timeline-heading">-->
    <!--                <h4>Summer 13 - Spring 14</h4>-->
    <!--                <h4 class="subheading">rii <a href="http://www.researchinnovations.com/">(web/android dev)</a></h4>-->
    <!--            </div>-->
    <!--            <div class="timeline-body">-->
    <!--                <p>Developed web app for simultaneous task coordination + Android app to increase the data storage-->
    <!--                    capacity of QR codes.</p>-->
    <!--            </div>-->
    <!--        </div>-->
    <!--    </li>-->


    <!--    <li class="timeline-inverted">-->
    <!--        <div class="timeline-image">-->
    <!--            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/default.jpg" alt="">-->
    <!--        </div>-->
    <!--    </li>-->
</ul>
<!--<hr>-->
<img src="{{ site.baseurl }}/assets/img/lab.gif" class="img-responsive" alt=""
     style="margin-top:-0px; border-radius: 10%; width: 80%; margin-left: 10%;">
</br>
<div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            I've been lucky to be advised by / collaborate with many amazing people
        </p>
        <ul class="list-items bullets">
            <li><a href="https://binyu.stat.berkeley.edu/">bin yu</a> (phd advisor)</li>
            <li><a href="http://mcb.berkeley.edu/faculty/cdb/upadhyayulas">gokul upadhyayula</a></li>
            <li><a href="https://www.cs.virginia.edu/yanjun/">yanjun qi</a></li>
            <li><a href="https://profiles.ucsf.edu/aaron.kornblith">aaron kornblith</a></li>
            <li><a href="https://flanusse.net/">francois lanusse</a></li>
            <li><a href="https://www.janelia.org/people/srinivas-turaga">srini turaga</a></li>
            <li><a href="https://med.virginia.edu/faculty/faculty-listing/wbl/">william levy</a></li>
            <li><a href="http://www.vision.caltech.edu/Perona.html">pietro perona</a></li>
        </ul>
    </div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            It has been my pleasure to help advise some incredible undergrads at berkeley
        </p>
        <ul class="list-items bullets">
            <li><a href="https://www.linkedin.com/in/ssaxena00/">sahil saxena</a> ('22)</li>
            <li><a href="https://www.linkedin.com/in/saarimrahman/">saarim rahman</a> ('21-'22)</li>
            <li><a href="https://www.linkedin.com/in/rush-kapoor/">rush kapoor</a> ('21-'22)</li>
            <li><a href="https://www.linkedin.com/in/nasseri/">keyan nasseri</a> ('20-'21)</li>
            <li><a href="https://www.linkedin.com/in/summer-devlin-5454b7154/">summer devlin</a> ('18-'19)</li>
            <li><a href="https://chris-lu.weebly.com/">chris lu</a> ('17-'18)</li>
        </ul>
    </div>
    <div class="coll9">
    </div>
</div>

