<h2 style="text-align: center;margin-top: -150px;"> experience </h2>

<ul class="timeline">
    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/msft.svg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">microsoft research
                </b>
                <br><i style="font-size:large">Summer '22 - Present<br></i><br>
                <p> generating explanations with large language models for science & medicine, working in the <a
                        href="https://www.microsoft.com/en-us/research/group/deep-learning-group/">deep
                        learning group</a> </p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/paige.jpg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">healthcare ai
                </b>
                <br><i style="font-size:large">Summer '21-Summer '22, Spring '20, Summer '19<br></i><br>
                <p> worked at <a href="https://paige.ai/">paige ai</a> as a research scientist developing deep learning
                    models for
                    pathology -- also
                    worked at <a href="https://pacmed.ai/en/">pacmed ai</a> in 2019 and response4life covid
                    forecasting in 2020</p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/berkeley.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">phd at uc berkeley
                </b>
                <br><i style="font-size:large">Fall '17-Spring '22<br></i><br>
                <p> researched interpretable machine learning, especially for neural networks and in scientific
                    applications, working in the <a href="https://www.stat.berkeley.edu/~binyu/Site/Welcome.html">bin
                        yu
                        group</a></p>
            </div>
        </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/amzn.svg" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <b style="font-size:x-large">big tech internships
                </b>
                <br><i style="font-size:large">Summer '17, Summer '20<br></i><br>
                <p> worked on unsupervised semantic segmentation at <a href="https://ai.meta.com/research/">meta ai</a>,
                    and worked on causal fairness benchmarking
                    in computer vision at <a href="https://aws.amazon.com/machine-learning/ai-services/">aws</a></p>
            </div>
    </li>

    <li class="timeline-inverted">
        <div class="timeline-image">
            <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/uva.png" alt="">
        </div>
        <div class="timeline-panel">
            <div class="timeline-heading">
                <div class="timeline-heading">
                    <b style="font-size:x-large">undergrad
                    </b>
                    <br><i style="font-size:large">summer '14- spring '17<br></i><br>
                    <p> worked on graphical models under <a href="https://www.cs.virginia.edu/yanjun/">Yanjun
                            Qi</a>
                        and on biophysical modeling under <a href="http://faculty.virginia.edu/levylab/">William
                            Levy</a> -- also spent 3 summers doing research at HHMI Janelia under <a
                            href="https://scholar.google.com/citations?user=V_NdI3sAAAAJ&hl=en&oi=ao">Srini Turaga</a>
                    </p>
                </div>
            </div>
    </li>


</ul>
<!--<hr>-->
<img src="{{ site.baseurl }}/assets/img/lab.gif" class="img-responsive" alt=""
    style="margin-top:-0px; border-radius: 10%; width: 80%; margin-left: 10%;">
</br>
<div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            I've been lucky to be advised by / collaborate with many amazing people
        </p>
        <ul class="list-items bullets">
            <li><a href="https://scholar.google.com/citations?user=CQ1cqKkAAAAJ&hl=en&oi=ao">jianfeng gao</a> 🤖 (msr
                manager)</li>
            <li><a href="https://scholar.google.com/citations?user=xT19Jc0AAAAJ&hl=en&oi=ao">bin yu</a> 🤖 (phd advisor)
            </li>
            <li><a href="https://scholar.google.com/citations?user=l6nlkhMAAAAJ&hl=en&oi=ao">aaron kornblith</a> 💊</li>
            <li><a href="https://scholar.google.com/citations?user=JNXWWkIAAAAJ&hl=en&oi=ao">alex huth</a> 🧠</li>
            <li><a href="https://scholar.google.com/citations?user=nxwNAEgAAAAJ&hl=en&oi=ao">gokul upadhyayula</a> 🦠
            </li>
            <li><a href="https://scholar.google.com/citations?user=eXKdSu0AAAAJ&hl=en&oi=ao">yanjun qi</a> 🤖</li>
            <li><a href="https://scholar.google.com/citations?user=fRDCooIAAAAJ&hl=en&oi=ao">francois lanusse</a> 🌌
            </li>
            <li><a href="https://scholar.google.com/citations?user=V_NdI3sAAAAJ&hl=en&oi=ao">srini turaga</a> 🧠</li>
            <li><a href="https://scholar.google.com/citations?user=j29kMCwAAAAJ&hl=en&oi=aol">pietro perona</a> 🤖</li>
            <li><a href="https://med.virginia.edu/faculty/faculty-listing/wbl/">william levy</a> 🧠</li>
        </ul>
    </div>
    <div class="coll9">
    </div>
    <div class="coll3">
        <p>
            It has been my pleasure to help advise some incredible students
        </p>
        MSR PhD interns
        <br>
        <ul class="list-items bullets">
            <li><a href="https://www.linkedin.com/in/yufan-zhuang/">yufan zhuang</a></li>
            <li><a href="https://yandachen.github.io">yanda chen</a></li>
            <li><a href="https://www.linkedin.com/in/qingru-zhang-4b789a187/">qingru zhang</a></li>
        </ul>
        <br>
        Berkeley undergrad/MS students
        <ul class="list-items bullets">
            <li><a href="https://www.linkedin.com/in/nasseri/">keyan nasseri</a> ('20-'22)</li>
            <li><a href="https://www.linkedin.com/in/ssaxena00/">sahil saxena</a> ('22)</li>
            <li><a href="https://www.linkedin.com/in/saarimrahman/">saarim rahman</a> ('21-'22)</li>
            <li><a href="https://www.linkedin.com/in/rush-kapoor/">rush kapoor</a> ('21-'22)</li>
            <li><a href="https://www.linkedin.com/in/summer-devlin-5454b7154/">summer devlin</a> ('18-'19)</li>
            <li><a href="https://www.linkedin.com/in/chris-lu-37471b119/">chris lu</a> ('17-'18)</li>
        </ul>
    </div>
    <div class="coll9">
    </div>
</div>