<h2 align="center"> posts + resources </h2>

<div class="coll3">
    <h3 align="center">research posts</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/blog/research/disentanglement" style="font-size:16px"> 2020 - disentangled representations </a></li>
        <li><a href="{{ site.baseurl }}/blog/research/interp" style="font-size:16px"> 2019 - what is interpretability? </a></li>
        <li><a href="{{ site.baseurl }}/blog/research/interp_eval" style="font-size:16px"> 2019 - evaluating interpretability </a></li>
        <li><a href="{{ site.baseurl }}/blog/research/connectomics" style="font-size:16px"> 2019 - connectomics </a></li>
        <li><a href="{{ site.baseurl }}/blog/research/neural_coding" style="font-size:16px"> 2018 - neural coding </a></li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">misc posts</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/blog/misc/attributions" style="font-size:16px"> 2020 - super quick intro to attribution methods </a></li>
        <li><a href="{{ site.baseurl }}/blog/misc/model_improvement" style="font-size:16px"> 2019 - model improvement checklist </a></li>
        <li><a href="{{ site.baseurl }}/blog/misc/reveal_md_enhanced/readme" style="font-size:16px"> 2019 - beautiful slides with reveal-md </a></li>
        <li><a href="{{ site.baseurl }}/blog/misc/latex_useful_tips" style="font-size:16px"> 2019 - latex useful tips </a></li>
        <li><a href="{{ site.baseurl }}/blog/misc/ml_coding_tips" style="font-size:16px"> 2019 - ml coding tips </a></li>
        <li><a href="{{ site.baseurl }}/blog/misc/imagenet_quickstart/readme" style="font-size:16px"> 2018 - imagenet quickstart </a></li>
    </ul>
</div>

<div class="coll3">
    <h3 align="center">research notes</h3>

    <ul class="list-items">
    {% for collection in site.collections %}
        {% for doc in collection.docs %}
            {% if doc.category == "research" %}
            <li><a href="{{ site.baseurl }}{{doc.url}}" style="font-size:16px"> {{ doc.title | downcase }} </a></li>
            {% endif %}
        {% endfor %}
    {% endfor %}
    </ul>
 </div>

<p align="center">
    <i align="left">Resources including teaching slides, research overview slides, and coding projects.</i>
    </br></br>
</p>


<div class="coll4">
    <h3 align="center">instructive slides</h3>
    <ul class="list-items">
        <li><a href="{{ site.baseurl }}/pres/189/" style="font-size:16px"> intro ml (cs 189) </a></li>
        <li><a href="{{ site.baseurl }}/pres/188/" style="font-size:16px"> intro ai (cs 188) </a></li>
        <li><a href="https://docs.google.com/presentation/d/1RIdbV279r20marRrN0b1bu2z9STkrivsMDa_Dauk8kE/present" style="font-size:16px"> interpretability workshop </a> (<a href="https://github.com/csinva/interpretability-implementations-demos"><i class="fa fa-github fa-fw"></i></a>)</li>
        <!--<li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present?slide=id.p" style="font-size:16px"> hummingbird </a></li>-->
    </ul>
</div>

<div class="coll4">
    <h3 align="center">research ovw slides</h3>
    <ul class="list-items">
        <li><a href="https://docs.google.com/presentation/d/19fTICv0pyRiwGE39mqE_eGTq0Arn3OtVnDSrURFbPMA/present" style="font-size:16px"> research ovw </a></li>
        <li><a href="https://docs.google.com/presentation/d/1d2prZlhmG72whCTzfGJ_pk-Pgv9Sx-bGG0e503whYvw/present?slide=id.p" style="font-size:16px"> vissci ovw </a></li>
        <li><a href="{{ site.baseurl }}/pres/dnn_experiments/" style="font-size:16px"> dnn experiments </a> (<a href="https://github.com/csinva/dl_theory"><i class="fa fa-github fa-fw"></i></a>) </li>
        <li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present?slide=id.p" style="font-size:16px"> hummingbird tracking </a>  (<a href="https://github.com/csinva/hummingbird-tracking"><i class="fa fa-github fa-fw"></i></a>)</li>
    </ul>
</div>

<div class="coll4">
    <h3 align="center">ml mini-projects</h3>
    <ul class="list-items">
        <!--<li><a href="{{ site.baseurl }}/prototype_learning/" style="font-size:16px"> prototype learning </a></li>-->
<!--                <li><a href="https://github.com/csinva/dl_theory" style="font-size:16px"> probing deep learning </a></li>-->
        <li><a href="https://covidseverity.com/" style="font-size:16px"> covid19 severity prediction </a> (<a href="https://github.com/Yu-Group/covid19-severity-prediction"><i class="fa fa-github fa-fw"></i></a>)</li>
        <li><a href="https://csinva.github.io/gpt2-paper-title-generator/index.html" style="font-size:16px"> generating paper titles </a> (<a href="https://github.com/csinva/gpt2-paper-title-generator"><i class="fa fa-github fa-fw"></i></a>)</li>
        <li><a href="https://github.com/csinva/pytorch_gan_pretrained/" style="font-size:16px"> pretrained pytorch gans </a></li>
        <li><a href="https://github.com/csinva/calcium_decoding_gan" style="font-size:16px"> gan brain decoding </a></li>
        <li><a href="https://github.com/csinva/scattering_transform_experiments" style="font-size:16px"> scattering transform </a></li>
        <li><a href="https://github.com/csinva/glaucoma_diagnosis" style="font-size:16px"> glaucoma diagnosis </a></li>

    </ul>
</div>

 <div class="coll4">
    <h3 align="center">misc</h3>
    <ul class="list-items">
        <li><a href="https://github.com/csinva/mini-games-java" style="font-size:16px"> mini-games in java </a></li>
        <li><a href="https://github.com/Pacmed/sensible-local-interpretations" style="font-size:16px"> sensible local interpretations </a></li>
        <li><a href="https://github.com/csinva/news-balancer" style="font-size:16px"> news balancer web </a></li>
<!--                <li><a href="https://docs.google.com/presentation/d/15iygjXGLu7Ha096GwMV5t6sjP7IPcTHqimPkTDwrpPI/present" style="font-size:16px"> hummingbird tracking </a></li>-->
        <li><a href="https://github.com/csinva/threshold_simulations/" style="font-size:16px"> biophysical threshold simulation </a></li>
<!--                <li><a href="https://github.com/csinva/interpretability-workshop" style="font-size:16px"> interpretability code </a></li>-->
        <li><a href="{{ site.baseurl }}/blog/sports_analysis.html" style="font-size:16px"> sports rankings with plotly </a></li>
        <li><a href="http://lnch.life/" style="font-size:16px"> lunch wheel </a> (<a href="https://github.com/DavidMChan/lunchwheel"><i class="fa fa-github fa-fw"></i></a>)</li>
    </ul>
</div>


<p align="center">
    <i align="left">A rough set of notes/posts which may serve as useful reference for people in machine learning / neuroscience.</i>
    </br></br>
</p>

<div class="roww"> <!--begin the 1st row-->
{% for collection in site.collections %}

    <!--create categories-->
    {% assign categories = "" | split:"|" %}
    {% for doc in collection.docs %}
        {% if doc.category %}
            {% unless categories contains doc.category %}
                {% assign categories = categories | push: doc.category %}
            {% endunless %}
        {% endif %}
    {% endfor %}

    {% for category in categories %}

        {% if category != "blog" and category != "research"%}

            <div class="coll">
                <h3 align="center">{{ category | downcase }}</h3>

                {% assign category_docs = collection.docs | where: "category", category %}
                <ul class="list-items">
                {% for item in category_docs %}
                    {% if item.title %}
                        <li><a href="{{ site.baseurl }}{{item.url}}" style="font-size:16px"> {{ item.title | downcase }} </a></li>
                    {% endif %}
                {% endfor %}
                </ul>
             </div>

        {% endif %}

        {% if category == "math" %}
            </div> <!--end the 1st row-->
            <div class="roww"> <!--begin the 2nd row-->
        {% endif %}

    {% endfor %}
{% endfor %}

<style>
.coll {
    float: left;
    width: 33.33%;
    padding-bottom: 50px;
}

.coll2 {
    float: left;
    width: 49.9%;
    padding-bottom: 50px;
}

.coll3 {
    float: left;
    width: 32.9%;
    padding-bottom: 50px;
}

.coll4 {
    float: left;
    width: 24.9%;
    padding-bottom: 50px;
}

.coll5 {
    float: left;
    width: 19.99%;
    padding-bottom: 50px;
}


/* Clear floats after the columns */
.roww:after {
    content: "";
    display: table;
    clear: both;
}
</style>
