<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <meta name="description" content="{{ site.description }}"/>
    <meta name="author" content="{{ site.author }}"/>
    <meta name="keywords" content="{{ site.keywords }}"/>
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
<!--    <link rel="shortcut icon" type="image/x-icon" href="{{ site.baseurl }}/assets/favicon.ico">-->
    <link rel="shortcut icon" type="image/png" href="{{ site.baseurl }}/assets/favicon.png">

    <title>{{ site.title }} {% if page.title %} | {{ page.title }}{% endif %}</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ site.baseurl }}/assets/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="{{ site.baseurl }}/assets/css/grayscale.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/timeline.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/chandan.css" rel="stylesheet">

    <!-- Custom Fonts -->
    <link href="{{ site.baseurl }}/assets/css/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <!-- Styling Tables -->
    <link href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet">
    <link href="{{ site.baseurl }}/assets/css/chandan_tables.css" rel="stylesheet">

</head>
