    <!-- jQuery -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}/js/grayscale.js"></script>

    <script src="{{ site.baseurl }}/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#example').DataTable();
    } );
    </script>

