    <!-- jQuery -->
    <script src="{{ site.baseurl }}/js/jquery.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ site.baseurl }}/js/bootstrap.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="{{ site.baseurl }}/js/jquery.easing.min.js"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ site.baseurl }}/js/grayscale.js"></script>

    <script src="{{ site.baseurl }}/js/jquery.dataTables.min.js"></script>

    <script>
    $(document).ready(function() {
        $('#example').DataTable({
            "order": [[ 0, "desc" ]],
            "aLengthMenu": [[5, 10, -1], [5, 10, "All"]],
            "pageLength": 5
        } );
    } );
    </script>

    <script src="{{ site.baseurl }}/js/scrollreveal.min.js"></script>
    <script src="{{ site.baseurl }}/js/toc.js"></script>
    <script>
        window.sr = ScrollReveal();
        sr.reveal('.timeline-panel');
        sr.reveal('.timeline-image');

    </script>