<!-- jQuery -->
<script src="{{ site.baseurl }}/assets/js/jquery.js"></script>

<!-- Bootstrap Core JavaScript -->
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>

<!-- Plugin JavaScript -->
<script src="{{ site.baseurl }}/assets/js/jquery.easing.min.js"></script>

<!-- Custom Theme JavaScript -->
<script src="{{ site.baseurl }}/assets/js/grayscale.js"></script>

<script src="{{ site.baseurl }}/assets/js/jquery.dataTables.min.js"></script>

<script>
$(document).ready(function() {
    $('#example').DataTable({
        "order": [[ 0, "desc" ]],
        "aLengthMenu": [[8, 10, -1], [8, 10, "All"]],
        "pageLength": 8
    } );
} );
</script>

<script src="{{ site.baseurl }}/assets/js/scrollreveal.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/toc.js"></script>
<script>
    window.sr = ScrollReveal();
    sr.reveal('.timeline-panel');
    sr.reveal('.timeline-image');

</script>
