    <!-- Navigation -->
    <nav class="navbar navbar-custom navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-main-collapse">
                    <i class="fa fa-bars"></i>
                </button>
                {% if page.url contains 'notes' or page.url contains 'projects' %}
                    <a class="navbar-brand page-scroll" href="{{site.url}}">
                        Chandan <i class="fa fa-home fa-fw"></i> Singh
                    </a>
                {% else %}
                    <a class="navbar-brand page-scroll" href="#page-top">
                        Chandan <i class="fa fa-home fa-fw"></i> Singh
                    </a>
                {% endif %}
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-right navbar-main-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a href="#page-top"></a>
                    </li>


                    {% if page.url contains 'notes' or page.url contains 'projects' %}
                        {% for pagex in site.pages | sort: "title" %}
                            {% unless pagex.url == "/" %}
                            {% unless pagex.url contains 'css' %}
                            {% unless pagex.url contains 'projects' %}
                            {% unless pagex.url contains 'notes' %}
                            <li><a class="page-scroll" href="{{site.baseurl}}/#{{ pagex.title }}">{{ pagex.title }}</a></li>
                            {% endunless %}
                            {% endunless %}
                            {% endunless %}
                            {% endunless %}
                        {% endfor %}
                        <li><a class="page-scroll" href="{{site.baseurl}}/#notes_main">Notes</a></li>

                    {% else %}
                        {% for pagex in site.pages | sort: "title" %}
                            {% unless pagex.url == "/" %}
                            {% unless pagex.url contains 'css' %}
                            {% unless pagex.url contains 'projects' %}
                            {% unless pagex.url contains 'notes' %}
                            <li><a class="page-scroll" href="#{{ pagex.title }}">{{ pagex.title }}</a></li>
                            {% endunless %}
                            {% endunless %}
                            {% endunless %}
                            {% endunless %}
                        {% endfor %}
                        <li><a class="page-scroll" href="#notes_main">Notes</a></li>
                    {% endif %}

                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>
