.set {
	display: -webkit-flex;
	display: flex;
	-webkit-flex-flow: row wrap;
	flex-flow: row wrap;
	margin: -($space / 2);
	padding: 0;
}

.set-item {
	-webkit-flex: 1 0 300px;
	-ms-flex: 1 0 300px;
	flex: 1 0 300px;
	box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
	border-radius: $border-radius;
	background-color: $content-background-color;
	display: inline-block;
	padding: $space;
	margin: $space / 2;

	&.set-item-filler {
		height: 0;
		padding-top: 0;
		padding-bottom: 0;
		margin-top: 0;
		margin-bottom: 0;
		border-color: transparent;
		border-top-width: 0;
		border-bottom-width: 0;
	}

	.image-container {
		max-height: 300px;
	}
}

.set-item-small {
	-webkit-flex-basis: 140px;
	flex-basis: 140px;
	text-align: center;
	box-shadow: none;
	padding: $space / 2;

	.image-container {
		min-height: 175px;
		margin: (-$space) (-$space) 0 (-$space);
	}
}

.image-container {
	overflow: hidden;
	margin: (-$space) (-$space) $space (-$space);

	&.centered {
		border-radius: $border-radius;
		padding: $space;

		img {
			max-height: 100%;
			max-width: 100%;
			border-radius: $border-radius;
		}
	}

	&.with-background img {
		background-color: #fff;
		padding: 10px;
		border-radius: $border-radius;
	}

	img {
		width: 100%;
		height: auto;
		border-radius: $border-radius $border-radius 0 0;
	}
}

.set-item-details {
	h3 {
		margin: 0;
	}

	.download-link {
		float: right;
		width: 30px;
		height: 30px;
		background-image: url(/img/icons/download.svg);
		background-repeat: no-repeat;
		background-position: center;
		background-size: 30px;
		opacity: 0.8;

		&:hover {
			opacity: 1;
		}
	}
}
