.carousel .item {
  height: 400px;
}

.item img {
    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    min-height: 100px;
    width:80%;
    margin:auto;
    /*box-shadow: inset 0px 0px 100px 100px rgba(0,0,0,0.9);*/
    opacity: 50%;
    /*border-radius: 50%;*/
}

.item p, h3, h4, h2, h5 {
    background-color: black;
}