td, th {
    <!--border: 1px solid #e9e9e9;-->
    padding: 10px;
    background: #000;
    text-transform: lowercase;
}
.hidden {
    display: none;
}
td.sorting_1 {
    color: #fff;
}

table.dataTable.display tbody tr.even>.sorting_1, table.dataTable.order-column.stripe tbody tr.even>.sorting_1, table.dataTable.display tbody tr.odd>.sorting_1, table.dataTable.order-column.stripe tbody tr.odd>.sorting_1{
   background-color: #222;
}

input {
    background: #000;
    color: #eee;
}


select {
    background: #000;
    border:1px;
}

.dataTables_wrapper .dataTables_paginate .paginate_button{
    background-color: #111;
}

thead, th {text-align: center;}

.dataTables_info{
    color: #ffffff;
}

label {
    color: #ccc;
}