a {
    color: #5bc0de
}

.intro .intro-body {
    display: table-cell;
    vertical-align: middle;
}

a, h1, h2, h3, h4, h5, ul, li {
    text-transform: lowercase;
}

.research_thumb {
    width: 50%; /* 90% */
    border-radius: 50%;
    border: 1px solid #f1f1f1;
}

td {
    text-align: center;
}

#particles-js {
    position: absolute;
    width: 100%;
    height: 100%;

    /* background: rgb(20,50,107); */
    /* background: radial-gradient(circle, rgba(20,50,107,1) 0%, rgba(0,0,0,1) 46%); */
    /* background: radial-gradient(circle, rgba(20,50,107,1) 0%, rgba(0,0,0,1) 84%); */

    /* background-image: radial-gradient(blue, black); */
    /* background-image: linear-gradient(red, yellow); */
    background: #000000;
    sbackground-size: cover; /* background-image: radial-gradient(circle, blue 0.00001%, black 99.9999%); /* Standard syntax (must be last) */
}

.iframe-box {
    position: relative;
    width: 100%;
    height: 0;
    padding-top: 66.6%; /* This is your aspect ratio */
}

.iframe {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    height: 100%
}

.bullets li {
    font-size: 18px;
}

.bullets {
    display: inline-block;
    align-items: center;
}
