.title {
    font-size: 70px;
    /*margin: -10;*/
    /*padding: -10;jek*/
}

.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 80px;
}

.sidenav a {
    text-decoration: none;
    color:#5bc0de;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenave li {
    display: flex;
    list-style-type: square;
}

.main {
    margin-left: 25%; /* Same as the width of the sidenav */
    padding-top: 80px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
    background:none;
    border:none;
    box-shadow:none;
    filter: invert(1);
    width: 35%;
}

.noninverted {
    width: 100%;
    filter: none;
}

.medium_image {
    width: 60%;
}

.big_image {
    width: 80%;
}

.full_image {
    width: 100%;
}

.title, title, h1, h2, h3, h4, h5 {
    text-transform: none;
}