.sidenav {
    height: 100%;
    width: 20%;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    background-color: #000;
    overflow-x: hidden;
    padding-top: 80px;
}

.sidenav a {
    text-decoration: none;
    color:#5bc0de;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenave li {
    display: flex;
    list-style-type: square;
}

.main {
    margin-left: 25%; /* Same as the width of the sidenav */
    padding-top: 80px;
}

@media screen and (max-height: 450px) {
  .sidenav {padding-top: 15px;}
  .sidenav a {font-size: 18px;}
}

img {
    background:none;
    border:none;
    box-shadow:none;
    filter: invert(1);
    width: 35%;
}

.noninverted {
    width: 100%;
    filter: none;
}

.medium_image {
    width: 60%;
}

.big_image {
    width: 80%;
}

.full_image {
    width: 100%;
}

.title, title, h1, h2, h3, h4, h5 {
    text-transform: none;
}

/* This sets the nav bar to lowercase */
.page-scroll {
    text-transform: lowercase;
}







/* .title {
		font-family: "Lato";
		font-weight: 300;
		font-size: 3em;
		margin: 0 auto;
		padding: 0 140px 0 0;
		display: inline;
		margin-bottom: 0;
} */


.title {
		text-align: center;
		color: rgba(255, 255, 255, 0.861);
		background: -webkit-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: -moz-gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		background: gradient(linear, left top, right top, from(#222), to(#222), color-stop(0.5, #fff));
		-webkit-background-size: 125px 100%;
		-moz-background-size: 125px 100%;
		background-size: 125px 100%;
		-webkit-background-clip: text;
		-moz-background-clip: text;
		background-clip: text;
		-webkit-animation-name: shimmer;
		-moz-animation-name: shimmer;
		animation-name: shimmer;
		-webkit-animation-duration: 2s;
		-moz-animation-duration: 2s;
		animation-duration: 2s;
		-webkit-animation-iteration-count: infinite;
		-moz-animation-iteration-count: infinite;
		animation-iteration-count: infinite;
		background-repeat: no-repeat;
		background-position: 0 0;
		background-color: #222;
}

@-moz-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-webkit-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@-o-keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}

@keyframes shimmer {
		0% {
				background-position: top left;
		}
		100% {
				background-position: top right;
		}
}