<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">

<div id="particles-js" text-align="center"></div>
{% include particles.html %}
{% include google_analytics.html %}
{% include head.html %}
{% include navigation.html %}
{% include about.html %}


<body id="page-top" data-spy="scroll" data-target=".navbar-fixed-top">
  {% for page in site.pages %}
    {% if page.section-type == "intro" %}
      <section id="{{ page.title }}" class="container content-section">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                    {{ page.content | markdownify }}

                    {% if page.email %}
                    <p><a href="mailto:{{ page.email }}">{{ page.email }}</a></p>
                    {% endif %}
                    <ul class="list-inline social-buttons">
                        {% for network in page.social %}
                        <li><a href="{{ network.url }}"><i class="fa fa-{{ network.title }} fa-fw"></i></a></li>
                        {% endfor %}
                    </ul>
              </div>
          </div>
      </section>
    {% elsif page.section-type == "research" %}

      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-8 col-lg-offset-2">
                {{ page.content | markdownify }}
              </div>
          </div>

           <table id="example" class="display" style="width:100%">
        <thead>
            <tr>
                <th>year</th>
                <th>title</th>
                <th>authors</th>
                <th>tags</th>
                <th>paper</th>
                <th>code</th>
                <th>slides</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>2019</td>
                <td>disentangled attribution curves for interpreting random forests and boosted trees</td>
                <td>devlin, singh, murdoch & yu</td>
                <td>ml</td>
                <td><a href="https://arxiv.org/abs/1905.07631">arxiv</a></td>
                <td><a href="https://github.com/csinva/disentangled_attribution_curves"><i class="fa fa-github fa-fw"></i></a></td>
                <td>--</td>
            </tr>
            <tr>
                <td>2019</td>
                <td>interpretable machine learning: definitions, methods, and applications</td>
                <td>Murdoch*, Singh*, Kumbier, Abbasi-Asl, & Yu</td>
                <td>ml</td>
                <td><a href="https://arxiv.org/abs/1901.04592">pnas</a></td>
                <td>--</td>
                <td><a href="https://docs.google.com/presentation/d/13jbgFyYSSDaMUd2w4RY9GHteTcWJj1drS6_2sOkvnv4/present?slide=id.p"><i class="fa fa-desktop fa-fw"></i></a>, <a href="{{site.baseurl}}/assets/write_ups/utokyo_19_interp_poster.pdf"><i class="fa fa-picture-o fa-fw"></i></a></td>
            </tr>
            <tr>
                <td>2019</td>
                <td>hierarchical interpretations for neural network predictions</td>
                <td>Singh*, Murdoch*, & Yu</td>
                <td>ml</td>
                <td><a href="https://arxiv.org/abs/1806.05337">ICLR</a></td>
                <td><a href="https://github.com/csinva/acd"><i class="fa fa-github fa-fw"></i></a></td>
                <td><a href="https://docs.google.com/presentation/d/1I6djTqVn6YGKqxvQk59-4C39LbE68mNQbX1Go5pzTH4/present?slide=id.p"><i class="fa fa-desktop fa-fw"></i></a>, <a href="{{site.baseurl}}/assets/write_ups/acd_18_bairday_poster.pdf"><i class="fa fa-picture-o fa-fw"></i></a></td>
            </tr>
            <tr>
                <td>2018</td>
                <td>large scale image segmentation with structured loss based deep learning for connectome reconstruction</td>
                <td>Funke*, Tschopp*, Grisaitis, Sheridan, Singh, Saalfeld, & Turaga</td>
                <td>ml, neuro</td>
                <td><a href="https://ieeexplore.ieee.org/abstract/document/8364622/">TPAMI</a></td>
                <td><a href="https://github.com/funkey/mala"><i class="fa fa-github fa-fw"></i></a></td>
                <td><a href="{{site.baseurl}}/assets/write_ups/singh_15_rf_segmentation.pdf"><i class="fa fa-picture-o fa-fw"></i></a></td>
            </tr>
           <tr>
                <td>2018</td>
                <td>linearization of excitatory synaptic integration at no extra cost</td>
                <td>Morel, Singh, & Levy</td>
                <td>neuro</td>
                <td><a href="http://rdcu.be/FDUo">J Comp Neuro</a></td>
               <td><a href="https://senselab.med.yale.edu/modeldb/ShowModel.cshtml?model=237594"><i class="fa fa-github fa-fw"></i></a></td>
               <td><a href="https://docs.google.com/presentation/d/1JriXXofysuXyfU4CeyNHJUTYSfa18R9Q3EhkCwFwh4g/present?slide=id.p"><i class="fa fa-desktop fa-fw"></i></a></td>
            </tr>
           <tr>
                <td>2017</td>
                <td>a consensus layer V pyramidal neuron can sustain interpulse-interval coding</td>
                <td>Singh & Levy</td>
                <td>neuro</td>
                <td><a href="http://journals.plos.org/plosone/article?id=10.1371/journal.pone.0180839">Plos One</a></td>
                <td><a href="https://senselab.med.yale.edu/modeldb/ShowModel.cshtml?model=237594"><i class="fa fa-github fa-fw"></i></a></td>
                <td><a href="https://docs.google.com/presentation/d/1JriXXofysuXyfU4CeyNHJUTYSfa18R9Q3EhkCwFwh4g/present?slide=id.p"><i class="fa fa-desktop fa-fw"></i></a></td>
            </tr>
           <tr>
                <td>2017</td>
                <td>a constrained, weighted-l1 minimization approach for joint discovery of heterogeneous neural connectivity graphs</td>
                <td>Singh, Wang, & Qi</td>
                <td>ml, neuro</td>
                <td><a href="https://arxiv.org/abs/1709.04090">NIPS Workshop</a></td>
               <td><a href="https://cran.r-project.org/web/packages/simule/index.html"><i class="fa fa-github fa-fw"></i></a></td>
               <td><a href="https://docs.google.com/presentation/d/1GO6lN5o2idozOUdnObXGnXKFbZiJiKKKkmx73uE4BAI/present?slide=id.p4"><i class="fa fa-desktop fa-fw"></i></a>, <a href="{{site.baseurl}}/assets/write_ups/wsimule_17_nips_poster.pdf"><i class="fa fa-picture-o fa-fw"></i></a></td>
            </tr>

    </table>



    </section>
    {% elsif page.section-type == "timeline" %}
      <!-- {{ page.title }} Section -->
      <section id="{{ page.title }}" class="container content-section text-center">
          <div class="row">
              <div class="col-lg-64 col-lg-offset-0">
                {{ page.content | markdownify }}
                <ul class="timeline">
                    {% for timeline_blurb in site.timeline_blurbs %}
                      {% assign loopindex = forloop.index | modulo: 2 %}
                      {% capture class %}
                        {% if loopindex == 0 %}
                          timeline-inverted
                        {% endif %}
                      {% endcapture %}

                      <li class="{{ class }}">
                          <div class="timeline-image">
                              <img class="img-circle img-responsive" src="{{ site.baseurl }}/{% if timeline_blurb.image %}{{ timeline_blurb.image }}{% else %}{{site.career-img}}{% endif %}" alt="">
                          </div>
                          <div class="timeline-panel">
                              <div class="timeline-heading">
                                  <h4>{{ timeline_blurb.title }}</h4>
                                  <h4 class="subheading">{{ timeline_blurb.subtitle }}</h4>
                              </div>
                              <div class="timeline-body">
                                  <p class="text-muted">{{ timeline_blurb.content }}</p>
                              </div>
                          </div>
                      </li>

                    {% endfor %}

                      <li class="timeline-inverted">
                        <div class="timeline-image">
                          <img class="img-circle img-responsive" src="{{ site.baseurl }}/assets/img/default.jpg" alt="">
                        </div>
                      </li>
                </ul>

              </div>
          </div>
      </section>

    {% elsif page.section-type == "notes" %}
        <section id="notes_main" class="container content-section">
            {{page.content}}
        </section>

    {% endif %}
  {% endfor %}

{% include js.html %}

</body>
</html>
