{% include head.html %}
<div id="header" width="100%">
    {% include navigation.html %}
</div>

<!--<script type="text/javascript" src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML"></script>-->
<script type="text/javascript" async
        src="https://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-MML-AM_CHTML"></script>
<!--<script type="text/javascript" async src="{{ site.baseurl }}/js/mathjax.js"></script>-->
<script>
    MathJax.Hub.Config({
        tex2jax: {
              inlineMath: [ ['$','$'], ["\\(","\\)"] ],
            processEscapes: true
        }
    });
</script>

<body>
    <div width="200px" class="column" style="margin-top: 200px; margin-left: 200px; margin-right: 400px; margin-bot: 200px">
        {{ page.content | markdownify }}
    </div>
</body>